div.total
  div.total__wrapper
    table.total__table
      tr.total__row
        th(colspan='2').total__cell.total__cell--title Закупка
      tr.total__row
        th.total__cell Цена закупки:
        td(data-name='UF_PURCHASE_PRICE_SUM').total__cell.total__cell--price #[span(class='total__value') 0.00] евр
      tr.total__row
        th.total__cell Транспортные расходы:
        td(data-name='UF_PURCHASE_TRANSPORT_SUM').total__cell.total__cell--price #[span(class='total__value') 0.00] евр
      tr.total__row
        th.total__cell Расходы на пошлину:
        td(data-name='UF_PURCHASE_DUTY_SUM').total__cell.total__cell--price #[span(class='total__value') 0.00] евр
      tr.total__row
        th.total__cell Расходы на страхование:
        td(data-name='UF_PURCHASE_INSURANCE_SUM').total__cell.total__cell--price #[span(class='total__value') 0.00] евр
      tr.total__row
        th.total__cell Себестоимость закупки:
        td(data-name='UF_COST_PER_UNIT_SUM').total__cell.total__cell--price #[span(class='total__value') 0.00] евр

      tr.total__row
        th(colspan='2').total__cell.total__cell--title Продажа
      tr.total__row
        th.total__cell Стоимость товара без НДС:
        td(data-name='UF_PRODUCT_PRICE_NO_NDS_SUM').total__cell.total__cell--price #[span(class='total__value') 0.00] евр
      tr.total__row
        th.total__cell Норма прибыли:
        td(data-name='PROFIT_RATE').total__cell.total__cell--price #[span(class='total__value') 0.00] %