div.trade-action
  button(type='button').trade-action__button
    span
  ul.trade-action__list
    li.trade-action__item.trade-action__delete
      span Удалить
    li.trade-action__item
      span Ещё кнопка
